* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    
    background-color: #dbd1d0;
}

header {
    display: flex;
    
    height: 90px;
    width: 100%;
    
    justify-content:space-between;
    align-items: center;
}

.links-header a {
    border: 1px solid;
    border-radius: 10px;
    padding: 7px;
    
    background-color: #a8d53e;
    color: #330d29;
    text-decoration: none;
}

.links-header {
    display: flex;
    
    height: 100%;
    width: 50vw;
    
    background-color: #ccc3c2;
    box-shadow: 8px 0px 15px 4px #a09c9c;
    
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.contact {
    display: flex;
    
    height: 100%;
    width: 50vw;
    
    background-color: #9b63d2;
    box-shadow: 2px 10px 15px 3px #a09c9c;
    
    align-items: center;
    justify-content: center;
    gap: 11em;
}

.icons i{
    display: inline-block;
    
    border-radius: 50%;
    
    background-color: #9b63d2;
    color: #ccc3c2;
    
    transition: all 0.5s ease;
}


@keyframes circle-anim{    
    0% {
        padding: 0px;
    }
    5% {
        padding: 1px;
    }
    
    10% {
        padding: 3px;
    }
    
    15% {
        padding: 5px;
    }

    20% {
        padding: 7px;
    }

    40% {
        padding: 10px;
    }

    60% {
        padding: 13px;
    }
    
    80% {
        padding: 16px;
        
    }

}

.icons i:hover{
    padding: 12px;
    
    background-color: #ccc3c2;
    box-shadow:inset 0px 4px 8px 1px #6e6b6b;
    color: #9b63d2;
    
    animation: circle-anim 0.4s ease ;
    cursor: pointer;
    transition: all 0.5s ease;

}


main {
    display: flex;
    
    height: 100vh;
    width: 100vw;
    
    justify-content: space-between;
}

.presentation {
    display: flex;
    
    width: 50vw;
    padding-top: 60px;
    
    background-color: #9b63d2;
    box-shadow: 4px 20px 20px 3px #a09c9c;
    color: #dbd1d0;
    
    align-items: top;
    float: left;
    justify-content: center;
}

.container-skills {
    display: flex;
    
    width: 50vw;
    padding-top: 50px;
    
    align-items: center;
    flex-direction: column;
}

.title {
    position: relative;
    top:15px;
    
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    
    color: #290700;
    background-color: #a8d53e;
    
}

.card-skills {
    height: 25em;
    width: 28em;
    
    border-radius: 15px;
    box-shadow: 0px 2px 8px 3px #a09c9c;
    background-color: #fff;

}

.my-picture img {
    display: flex;
    position: relative;
    left: 10px;
    
    height: 11em;
    width: 9em;
    margin-right: 20px;
    
    background-color: #dbd1d0;
    border: 1px solid black;
    border-radius: 10%;
    shape-outside: 15px;
}

.projects {
    display: flex;
    position: absolute;
    
    height: 100vh;
    width: 100vw;
    
    background: #dbd1d0;
    
    align-items: center;
    justify-content: center;
}

.back-projects {
    display: flex;
    
    height: 90vh;
    width: 90vw;
    
    background-color: #e6dede;
    
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-card {
    display: flex;
    
    height: 90vh;
    
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.back-container{
    position: absolute;
    
    top: 10em;
    right: 27.8em;
    width: 23em;
    height: 17em;

    /* top: 0em;
    right: none;
    width: 0em;
    height: 0em; */

    border: 1.5px solid black;
    border-radius: 5px;

    background-color: #a8d53e;
    
    transition: right 1s 3s, top 1s 5s, transform 1s, background-color 1s 1s, width 1s 2s, height 1s 2s ease-in-out;
}

.back-projects:hover .back-container{
    top: 0em;
    
    height: 0em;
    width: 0em;

    right: none;
    
    background-color: none;
    
    transform: scale(0);
}

.shadow-back-container{
    display: flex;

    height: 17em;
    width: 23em;
    
    /* height: 0em;
    width: 0em; */

    margin-top: 9em;
    border-radius: 5px;

    background-color: #9b63d2;
    border: 1.5px solid black;

    flex-direction: column;
    justify-content: space-around;
}

.rows {
    height: 0.5em;
    width: 23em;

    background-color: #b9a7cb;
}

.back-text-tarefas{
    display: flex;
    position: relative;
    
    top: 0em;
    width: 0em;
    height: 0em;
    
    /* top: 0em;
    width: 23em;
    height: 23em; */
    
    border: 1px solid black;
    border-radius: 14px;
    background-color:#9b63d2;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    transition: top 1s 1s, animation ease;
}

.back-projects:hover .back-text-tarefas{
    top: 10em;
    
    animation: expand 1s 3s forwards;
}


@keyframes expand {
    0%{
        height: 0em;
        width: 0em;
    }

    50% {
        height: 1em;
        width: 23em;
    }

    100% {
        height: 23em;
        width: 23em;
    }
}

.text-tarefas{
    display: flex;
    position: relative;
    
    width: 20em;
    
    opacity: 0%;
    /* opacity: 100%; */
    
    overflow: hidden;

    transition: all 1s 4s ease-in-out; 
}

.back-projects:hover .text-tarefas{
    opacity: 100%;
}

.container-btn{
    display: flex;
    position: relative;
    top: 3em;

    opacity: 0%;
    /* opacity: 100%; */
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 1s 4s ease-in-out; 
}

.back-projects:hover .container-btn{
    opacity: 100%;
}

.front-container-btn {
    display: flex;
    position: absolute;

    right: 5px;
    bottom: 5px;

    height:3em;
    width:9em;

    border: 1.5px solid black;
    
    background-color: #fff;
    /* background-color: #6e6b6b; */
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.first-btn-link-tarefas {
    display: flex;
    
    color: black;
    text-decoration: none;

    opacity: 100%;
    /* opacity: 0%; */


    align-items: center;
    justify-content: center;
}

.second-btn-link-tarefas {
    display: flex;
    position: absolute;

    color: black;
    text-decoration: none;

    opacity: 0%;
    /* opacity: 100%; */
    
    align-items: center;
    justify-content: center;

}

.back-container-btn {
    display: flex;

    height:3em;
    width:9em;

    border: 1.5px solid black;

    background-color: #a8d53e;
    /* background-color: #a8d53e; */
}

.front-card {
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    top: 12em;
    right: 29em;

    gap: 3em;
    
    /* top: 6em;
    right: none;
    gap: 0em; */

    transition: gap 1s, right 1s 3s, top 1s 1s ease-in-out
}

.back-projects:hover .front-card{
    top: 6em;
    right: none;
    gap: 0em;
}

.title-projec-tarefas{
    display: flex;
    position: relative;
    top: 0.5em;

    
    /* padding: 5px;
    border: 1.5px solid black;
    border-radius: 8px;
    background-color: #a8d53e;
    opacity: 100%; */
    
    transition: all 3s ease-in;
}

.back-projects:hover .title-projec-tarefas{
    animation: move-title 3s forwards;

}

@keyframes move-title {
    0%{
        top: 0em;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        background-color: none;
        opacity: 100%;

    }
    
    10%{
        top: 0em;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        background-color: none;
        opacity: 0%;
    }

    50%{
        top: 5em;
        padding: 5px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: #a8d53e;
        opacity: 0%;
    }

    60%{
        top: 0em;
        padding: 5px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: #a8d53e;
        opacity: 0%;
    }

 
    70%{
        top: -1em;
        padding: 5px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: #a8d53e;
        opacity: 100%;
    }
    


    100%{
        top: 0.5em;
        padding: 5px;
        border: 1px solid black;
        border-radius: 8px;
        background-color: #a8d53e;
        opacity: 100%;
    }


}

.container-img-taferas{
    display: flex;

    border: 1.5px solid black;
}

.container-img-taferas img{
    width: 330px;
    height: 160px;

    /* width: 300px;
    height: 140px; */

    visibility: hidde;
}

.back-projects:hover .container-img-taferas img{
    animation: redux-expand 1s forwards;
}

@keyframes redux-expand{
    0%{
        width: 330px;
        height: 160px;
    }
    50%{
        width: 390px;
        height: 200px;
    }
    100%{
        width: 300px;
        height: 140px;
    }
}
/* .contact-github, .contact-linkedln, .contact-whatsapp {
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 0;
}

.contact-github:hover .botton-git {
    transform: rotate(35deg);
    transition-duration: 2s;
}

.contact-linkedln:hover .botton-linkedln {
    transform: rotate(35deg);
    transition-duration: 2s;
}

.contact-whatsapp:hover .botton-whatsapp {
    transform: rotate(35deg);
    transition-duration: 2s;
} */


